/* Sign-In Page */

.jumbotron {

	height: 450px;

}

.forgot-pw {


	margin-bottom: 50px;


}

.sign-in-fields {


	margin-top: 0px;

}

.sign-in-fields label {


	font-size: 1.2em; 

}


/* Create Account Page */




/* Main Signed In Page */

.top-of-content {


	margin-top: 90px;

}


.glyphicon-plus {

	font-size: 1.5em;

}

.new-project {

	margin-top: 92.5px;
}

.your-projects {

	margin-top: 35px;

}

.due-date {

	margin-left: 600px;
}


/* Project Page */

.deliverable-list {

	font-size: 1.2em;

}

.ahead {

	color: green;

}

.late {


	color: red;

}

